DISCORD_TOKEN=
DATA_DIR=./data

############
# Optional #
############

# REGISTER_COMMANDS_ON_BOT=false
# TIMEZONE=Europe/Berlin

# See the README for details on the below variables
# BOT_STATUS=
# BOT_ACTIVITY_TYPE=
# BOT_ACTIVITY=
